.cabeçalho_menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
}

.cabeçalho {
    background-color: var(--branco);
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AluraBooks</title>
        <link rel="stylesheet" href="reset.css">
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <header class="cabeçalho">
            <div class="container"> 
                <span class="cabeçalho__menu-hamburguer container__imagem"></span>
                <img src="img/Logo.svg" alt="Logo da AluraBooks" class="container__imagem">
            </div>
            <div class="container">
                <a href="#"><img src="img/Favoritos.svg" alt="Meus favoritos" class="container__imagem"></a>
                <a href="#"><img src="img/Compras.svg" alt="Carrinho de compras" class="container__imagem"></a>
                <a href="#"><img src="img/Usuario.svg" alt="Meu perfil" class="container__imagem"></a>
            </div>
        </header>
    </body>
</html>
/* código omitido */

.lista-menu {
    display: none;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}
/* código omitido */

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  
  /* código omitido */
  
  .lista-menu {
      display: none;
      position: absolute;
  }
  
  /* código omitido */
  /* código omitido */

.lista-menu_titulo, 
.lista-menu_item {
    padding: 1em,
    background-color: var(--branco);

}
/* código omitido */

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}
/* código omitido */

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

/* código omitido */